.branding-ad {
	background: $red;
	text-align: center;
	margin: 0;
	color: #eee;
	width: 100%;
	height: 3em;
	padding-top: 3px;
	font-size: 1.1em;
	position: relative;
	top: 0;
	left: 0;
	
	p {
		font-size: .9em;
	}
}

.close {
	font-size: 1.3em;
	padding: 0 10px 0 0;
	margin: 0;
	color: #333;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
}


.input-group {
	display: inline-block;
//	width: 20%;
	
	> .input-group-btn {
//		line-height: 1.5em;
//		border: none;
//		border-left: 1px solid #999;
//		border-radius: 0 7px 7px 0;
	}
}

.nav-container {
	width: 100%;
	height: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.brand-logo {
//	padding:  15px 15px 15px 5.4%;
}

.btn {
	
}