footer {
	position: relative;
	bottom: 90px;
	background: lighten($blue, 20%);
	margin-top: 120px;
	margin-bottom: 90px;
	@include clearfix();
	ul {		
		> li {
			display: inline-block;
			padding: 0 15px;
			
			& :not(last) {
				margin-right: 20px;
			}
			
			> a {
				color: #eee;
				font-size: 1.1em;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
			}
		}
	}	
	
}