body {
//	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font : {
		size: 100%;
		family: Ariel, sans-serif;
	}
}

h2 {
//	max-width: 1200px;
//	display: table-cell;
//	vertical-align: baseline;
//	padding: 0;
//	padding: 10px;
}

ul {
	list-style: none;
	padding-left: 0;
}