
header {
	.logo-promos-container {
		height: 65px;
		width: 100%;
		margin: 0 auto;
		max-width: 1200px;
		text-align: center;
	}
	
	.logo-container	{
		float: left;
		height: 100%;
		margin-right: 20px;
	}
	
	.promos-container {
		float: left;
		height: 100%;
		
		.promo-block {
			float: left;
			
			&:nth-of-type(2) {
				margin-left: 30px;
				margin-right: 30px;
			}
			
			.promo-title {
				color: lighten($blue, 20%);
				text-transform: uppercase;			
				margin-bottom: 0;
				text-align: center;
				
				font: {
//					size: 1.1em;
					weight: 600;
				}
			}

			.promo-text {
				margin-top: 1px;
				padding: 0;
				color: #777;
				font-size: .8em;
				text-align: center;
			}
		}
	}
	
	.cart-account-info {
		float: left;
		margin-left: 50px;
		
		> ul {
			padding-left: 0;
			
			> li {
				list-style: none;
				display: inline-block;
				color: lighten($blue, 20%);
				font-size: 1.1em;
				padding: 12px 5px;
			}
		}
	}
	
	/* Navigation Styles */
	nav {
		width: 100%;
		height: 65px;
//		height: 3.5em;
		background-color: lighten($blue, 20%);
		clear: both;
		
		&::after {
			clear: both;
		}

		.nav-container > ul {
			display: inline-block;
			width: 75%;
			height: 100%;
			float: left;
			margin: 0;
			padding: 0 0 0;
		}

		.nav-container > ul li {
			display: inline-block;
			padding: 0 10px;
			position: relative;
			height: 100%;
			text-transform: uppercase;

			font: {
				size: 1em;
				weight: 700;
			}

			a {
				color: #eee;
				height: 100%;
				text-decoration: none;
				display: inline-block;
	//			height: 100%;
	//			display: inline-block;
	//			padding: 15px 0;
	//			line-height: 3em;

				> span {
					height: 100%;
					padding: 25px 0;
//					display: inline-block;
					display: table-cell;
					vertical-align: middle;
					box-sizing: border-box;
				}
			}
		}

		.nav-container > ul li > div {
			display: none;
			z-index: 999;
		}

		.nav-container > ul li:hover > div {
			display: block;
			width: 50vw;
			max-width: 1200/80 + '%';
			padding: 10px;
			background-color: #eee;
			box-shadow: -3px 3px 16px rgba(20,23,28,.25), 3px 3px 16px rgba(20,23,28,.25);
			position: absolute;
	//		top: 45px;
			top: 100%;
			left: -100%;
	//		left: -100vw;

			h5 {
				color: lighten($blue, 10%);
				margin: 10px 0 0;
				line-height: 1.7em;
			}

			ul {
				padding: 0;
			}

			ul a {
				color: #000;
				font-size: .8em;
				padding: 5px;
				line-height: 1.7em;
				display: block;
			}

		}

		.nav-container > .input-group {
			display: none;
			padding: 15px 0 0;
			height: 100%;
			box-sizing: border-box;

			@include break(768px) {
				display: inline-block;
				width: 20%;
				height: 100%;
//				float: right;

				> input {
					width: 95%;
					height: 2.8em;

					&::placeholder {
						color: lighten($blue, 20%);
						font-size: 1.2em;
					}
				}

				 button.input-group-btn {
					border: none;
					display: inline-block;
	//				height: 1.3em; // 2.1em;
//					height: 1.3em; // 100%;
					margin: 0 0 0 -40px; // -31px;
					padding: 5px 0;
	//				box-sizing: border-box;
					background: #fff;
					font-size: 1.2em;
					color: lighten($blue, 20%);
				}
			}
		}
	}
}